.header {
    text-align: center;
    color: rgb(48, 36, 117);

    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(110, 128, 145)
}

.Text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}